* {
    box-sizing: border-box;
}

body {
    background-color: rgba(114, 192, 255, 0.3);
}

#error-msg {
    font-size: 2rem;
}

.cows-wrapper {
    margin-left: 7rem;
}

.bulls-wrapper {
    margin-right: 7rem;
}

.cows-wrapper,
.bulls-wrapper {
    font-size: 1.5rem;
}

.sound-toggle-wrapper {
    font-size: 2rem;
    margin: .25rem;
}

.circle {
    width: 7rem;
    height: 7rem;
    font-size: 5rem;
    text-shadow: 2px 2px 5px black;
    color: crimson;
    border-radius: 50%;
    background-color: deepskyblue;
    background-size: 5rem 5rem;
    background-position: center;
    background-repeat: no-repeat;
    transform-style: preserve-3d;
    transition: transform 1s;
    box-shadow: 2px 2px 10px black;
}

.modal {
    display: none;
    position: fixed;
    z-index: 1;
    padding-top: 100px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    /* Fallback color */
    background-color: rgb(0, 0, 0);
    /* Black w/ opacity */
    background-color: rgba(0, 0, 0, 0.4);
}

/* Modal Content */
.modal-content {
    position: relative;
    display: flex;
    flex-direction: column;
    background-color: #fefefe;
    margin: auto;
    padding: 0;
    border: 1px solid #888;
    width: 50%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    -webkit-animation-name: animatetop;
    -webkit-animation-duration: 0.4s;
    animation-name: animatetop;
    animation-duration: 0.4s
}

/* The Close Button */
.close {
    color: white;
    font-size: 3rem;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

.modal-header,
.modal-footer {
    display: flex;
    flex-direction: row-reverse;
    background-color: deepskyblue;
    color: black;
    padding: .5em;
}

.modal-header {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
}

.modal-body {
    background-color: rgba(0, 0, 0, 0.1);
    font-size: 2rem;
}

#digitsRangeInput {
    cursor: pointer;
}

#digitsRangeInput::-webkit-slider-thumb {
    width: 1.5rem;
    height: 1.5rem;
    border-radius: 50%;
}

#digitsRangeInput::-webkit-slider-runnable-track {
    height: 1rem;
}

/* Add Animation */
@-webkit-keyframes animatetop {
    from {
        top: -300px;
        opacity: 0
    }

    to {
        top: 0;
        opacity: 1
    }
}

@keyframes animatetop {
    from {
        top: -300px;
        opacity: 0
    }

    to {
        top: 0;
        opacity: 1
    }
}